.container {
    max-width: 1000px;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.homeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    margin: 3rem 0 0;
}

.footer a {
    margin-right: 3rem;
}