.cardLink {
    text-decoration: none;
}

.pitchCard {
    margin: 20px auto;
    min-width: 300px;
}

.cardActionArea {
    height: 100%;
    width: 100%;
}

.pitchImage {
    width: 100%;
    object-fit: cover;
    object-position: center;
}